header{
    background-color: lightblue;
    background-image: url(../img/pattern.png);
    background-size: auto;
    
}

.informazione{
    color: lightblue;
}
.data{

    font-size: smaller;

}

.post-photo{

    display: block;
}