header{
    background-color: lightblue;
    background-image: url(../img/pattern.png);
    background-size: auto;
    
}

.informazione{
    color: lightblue;
}
.data{

    font-size: smaller;

}
#titolo{
    width: 150px; 
    height: 100px;
}
.post-photo{

    display: block;

}

.grigio{
    color: gray;
}

#testo{
    background-color: yellow;
}

#table-collapse{
    border-collapse: collapse;
}

.color-background{
    background-color: darkcyan;

}

.ttt{
    width:50%;
}

.tabella{
    text-align: left;
    background-color: blue;
    color: white;
}

.contain{
    width: 300px;
    height: 200px;
    background-image: url(../img/monitor.jpg);
    background-size: cover;
    font-size: 1.5em;
    color: white;
}
.contain1{
    width: 300px;
    height: 200px;
    background-image: url(../img/graph.jpg);
    background-size: cover;
    font-size: 1.5em;
    color: white;
}